<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>app.nest.pfhelper</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/NestPFHelper</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>WatchPaths</key>
    <array>
        <string>/tmp/app.nest.pfhelper.kick</string>
    </array>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>StandardOutPath</key>
    <string>/var/log/app.nest.pfhelper.out.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/app.nest.pfhelper.err.log</string>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>app.nest</string>
    </array>
</dict>
</plist>
