<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>SUPublicEDKey</key>
    <string>WTag3f7Il9pY5JwroV9iZdsrhoI5s/AOmqnN4GQC9B8=</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/xcrap/nest/main/appcast.xml</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>CFBundleExecutable</key>
    <string>Nest</string>
    <key>CFBundleIdentifier</key>
    <string>${BUNDLE_ID}</string>
    <key>CFBundleName</key>
    <string>Nest</string>
    <key>CFBundleDisplayName</key>
    <string>Nest</string>
    <key>CFBundleVersion</key>
    <string>${BUILD_ID}</string>
    <key>CFBundleShortVersionString</key>
    <string>${VERSION}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>NSSupportsAutomaticTermination</key>
    <false/>
    <key>NSSupportsSuddenTermination</key>
    <false/>
</dict>
</plist>
